{{#each this}}
<li>
    <h2 class="title">{{title}}</h2>
    <p>{{author}}</p>
    <a href="{{url}}" target="_blank">{{url}}</a>
    {{!-- <ul>
        {{#each this._tags}}
        <li>{{this}}</li>
        {{/each}}
    </ul> --}}
</li>
{{/each}}